.elementor-7919 .elementor-element.elementor-element-d275fcd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7919 .elementor-element.elementor-element-d275fcd {
    margin-top: 20px;
    margin-bottom: 0px;
}

.elementor-7919 .elementor-element.elementor-element-ce9bd3e>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-7919 .elementor-element.elementor-element-978a414 .pxl-logo img {
    max-height: 100px;
}

.elementor-7919 .elementor-element.elementor-element-978a414 {
    width: auto;
    max-width: auto;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary>li>a {
    color: #FFFFFF;
    line-height: 100px;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary>li {
    margin: 0px 24px 0px 24px;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu li.pxl-megamenu,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li>a {
    color: #444444;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li:hover>a,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li.current_page_item>a,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li.current-menu-item>a,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li.current_page_ancestor>a,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu li.current-menu-ancestor>a {
    color: #FF5266;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu.sub-style-default .sub-menu>li .pxl-menu-item-text::before {
    background-color: #FF5266;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-menu-primary .sub-menu,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-menu-primary .children {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-nav-menu .pxl-menu-primary li .sub-menu a,
.elementor-7919 .elementor-element.elementor-element-dd2a711 .pxl-heading .pxl-item--title {
    font-weight: 600;
}

.elementor-7919 .elementor-element.elementor-element-dd2a711 {
    width: auto;
    max-width: auto;
}

.elementor-7919 .elementor-element.elementor-element-9638478 .pxl-button {
    --gradient-color-from: #043FFF;
    --gradient-color-to: #00D4D6;
}

.elementor-7919 .elementor-element.elementor-element-9638478 .pxl-button .btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    padding: 0px 38px 0px 38px;
}

.elementor-7919 .elementor-element.elementor-element-9638478 .pxl-button .pxl-icon--left i,
.elementor-7919 .elementor-element.elementor-element-9638478 .pxl-button .pxl-icon--left svg {
    margin-right: 9px;
}

.elementor-7919 .elementor-element.elementor-element-9638478>.elementor-widget-container {
    margin: 0px 0px 0px 24px;
}

.elementor-7919 .elementor-element.elementor-element-9638478 {
    width: auto;
    max-width: auto;
}